<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/39c3ff0d80.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>VulnW0rld.camp</title>

    {% block head %}
    {% endblock %}

</head>
<body>
    <ul class="header">
        <h1>VulnW0rld.camp</h1>
        <li><a href="/logout">Log Out</a></li>
    </ul>

    {% with messages = get_flashed_messages(with_categories=True) %}
	    {% for category, message in messages %}

		    <p class="{{ category }}">{{ message }}</p>

	    {% endfor %}
    {% endwith %}

    {% block body %} 
    {%endblock%}

</body>
</html>

